<h1> <%= @merchant.name %>'s Discounts</h1>

<h1>Upcoming Holidays</h1>
<% @holiday.holidays.each do |holiday|%>
<h3><%= holiday.name %>: <%= holiday.date %></h3>
<% end %>


<%= link_to "Create New Discount", new_merchant_discount_path %>


<% @discounts.each do |discount| %>
    <div id="<%= discount.id %>">
        <h3> Discount: <%= link_to "#{discount.id}", "/merchants/#{@merchant.id}/discounts/#{discount.id}" %> </h3>
            <h4> Threshold: <%= discount.threshold %>
            <br>
            Percentage: <%= discount.percentage %> </h4>
            <%= button_to "Delete", "/merchants/#{@merchant.id}/discounts/#{discount.id}", method: :delete %>
            <hr>
    </div>
            <% end %>

